#wrapper {
    width: 960px;
    margin: 10px auto 10px auto;  
    /* top, right, bottom, left */
    height: 1000px;
    background-color:#eeeeee;
}
/* header */
    .header{
        width: 100%;
        height: 50px;
        background-color:#bbbbbb;
    }
/*name in header*/
    .name{
        font-family:sans-serif;
        color:black;
        font-size:30px;
        text-align:center;
    }
/*name in header*/
/*nav bar*/
nav {
    width:500px;
    height:50px;
    background-color:#bbbbbb;
}
ul li {
    display:inline-block;
    margin:12px;
    padding:5px;
}
ul li a {
    text-decoration:none;
    color:black;
}
/*nav bar*/
/*picture in middle*/
    .picture{
        margin:5px auto 0 auto;
    }
/*picture in middle*/
/*footer*/
    .footer{
        width:100%
        height:50px;
        background-color:#bbbbbb;
        text-align:center;
    }
/*footer*/
/*name in footer*/
    .fname{
        font-family:sans-serif;
        color:black;
        font-size:30px;
        text-align:center;
    }
/*name in footer*/
